body{
    font-family: 'Chivo Mono', monospace;
font-family: 'Poppins', sans-serif;
}
span{
    color: #4F29DD;
    
}
h2{
    font-weight: 700;
}
.btn{
background-color: #8B64FB;
color: white;
padding: 8px 18px;
border-radius: 30px;

}

.d-flex :hover{
    border: 1px solid #8B64FB;
    color: #8B64FB;
}
.navbar-nav{
    margin-left: 240px;
}
.ma{
    margin-left: 45px;
}
.navbar{
    padding-top: 30px;
}
.an{
    background-color: #F6F5FA;
}
.ar{
    color: #797687;
    margin-bottom: 60px;
}
.aw1{
    display: inline;
   
    
}
.aw{ 
    border: 1px solid #7052FB ;
    text-decoration: none;
    color:  #7052FB;
    padding: 10px 14px;
    border-radius: 30px;
}
.as{
    font-size: 40px;
    font-weight: 400;
    color: #2B2350;
}
.as1{
    font-size: 45px;
    font-weight: 700;
    color: #2B2350;
}
.aw1 :hover{
    background-color: #4F29DD;
    color: white;
}
.as2{
    width: 614px;
    margin-left: -11px;
}